<div class="flex flex-row w-full" style="max-height: 120vh;">
    <div class="flex flex-col py-6">
        <button mat-icon-button [tabIndex]="-1" (click)="onClose()">
            <mat-icon class="text-current py-6" [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
        </button>
    </div>
    <div class="flex flex-col w-full verflow-y-auto py-6">
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-col items-start">
                <div class="text-3xl font-bold mr-5 items-center justify-center"> ระบุเหตุผลที่ต้องการยกเลิก</div>
                <div class="text-lg">ระบบจะส่งเหตุผลแจ้งให้ลูกค้าทราบ</div>
            </div>
        </div>
        <form [formGroup]="form">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [formControl]="statusData">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season" [color]="'primary'">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>

            <div class="flex flex-col mt-2">
                <div class="flex flex-col" *ngIf="this.statusData.value === 'อื่นๆ โปรดระบุเหตุผล'">
                    <mat-label class="font-bold">เหตุผล</mat-label>
                    <mat-form-field>
                        <textarea class="w-full" formControlName="reason" matInput [placeholder]="'หมายเหตุเพิ่มเติม (ถ้ามี)'" [rows]="3"></textarea>
                    </mat-form-field>
                </div>
            </div>

        </form>

    </div>

</div>
<div class="flex flex-row">
    <button class="px-6 ml-3 rounded-md mt-5 w-full" mat-flat-button [color]="'primary'" (click)="onSaveClick()">บันทึก</button>
</div>