<div class="md:max-w-lg mx-auto">
    <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5 text-center">สร้างศูนย์บริการ</h1>
    <div mat-dialog-content>
        <form [formGroup]="addForm">
            <!-- <div class="mb-4">
          <label for="no" class="block text-sm font-medium text-gray-700">No.</label>
          <input type="text" id="no" class="mt-1 form-input rounded-md shadow-sm block w-full" formControlName="no" placeholder="No.">
        </div> -->
        <div class="flex flex-row">

            <div class=" w-full">
                <div class="">

                    <div class="mb-4">
                        <div class="md:w-full px-3 mb-6 md:mb-0 flex-initial w-14 h-14">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label class=" font-light">ชื่อศูนย์บริการ</mat-label>
                                <input matInput >
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="md:w-full px-3 mb-6 md:mb-0 flex-initial w-14 h-14">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label class=" font-light">เบอร์โทรศัพท์ติดต่อ</mat-label>
                                <input matInput >
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="md:w-full px-3 mb-6 md:mb-0 flex-initial w-14 h-14">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label class=" font-light">ที่อยู่</mat-label>
                                <input matInput >
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mb-4 flex">
                        <div class="md:w-full px-3 mb-6 md:mb-0 flex-initial w-14 h-14">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label class=" font-light">ละติจูด</mat-label>
                                <input matInput >
                            </mat-form-field>
                        </div>

                        <div class="md:w-full px-3 mb-6 md:mb-0 flex-initial w-14 h-14">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label class=" font-light">ลองติจูด</mat-label>
                                <input matInput >
                            </mat-form-field>
                        </div>
                    </div>
                      

                    
                </div>


            </div>

            
            

        </div>
        </form>
    </div>
    <div mat-dialog-actions class="flex justify-end mt-4">
        <button class="px-6 ml-3" mat-flat-button (click)="onCancelClick()">
            <div class="font-light">
                ยกเลิก
            </div>
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSaveClick()">
            <div class="font-light">
                บันทึก
            </div>
        </button>

    </div>
</div>
