<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-3 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-2xl md:text-2xl tracking-tight leading-7 sm:leading-10 truncate">
                    ประวัติการทำรายการ
                </h2>
                <div class="flex w-100">
                    <mat-form-field class="w-full">
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="วันที่เริ่มต้น">
                            <input matEndDate placeholder="วันที่สิ้นสุด">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-5 bg-white">
        <div class="flex flex-row justify-between py-2 px-5">
            <div class="flex justify-start items-center w-full mt-5">
                <div class="flex flex-row text-md font-normal gap-3 tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                    <mat-form-field [ngClass]="formFieldHelpers" class="min-w-56">
                        <mat-icon svgIcon="search"></mat-icon>
                        <input matInput [placeholder]="'ค้นหา'">
                    </mat-form-field>

                    <mat-form-field [ngClass]="formFieldHelpers" class="min-w-56">
                        <mat-select>
                            <mat-option [value]="''"> เลือกกิจกรรม</mat-option>
                            <mat-option [value]="''"> เลือกกิจกรรม</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field [ngClass]="formFieldHelpers" class="min-w-56">
                        <mat-select>
                            <mat-option [value]="''"> <span class="font-bold">แสดง</span> : ทุกคน</mat-option>
                            <mat-option [value]="''"> <span class="font-bold">แสดง</span> : บางคน</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex">
                <div class="flex text-md font-normal tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                    <button class="flex flex-row px-6 ml-3 border-2 border-gray-300 rounded-xl items-center" (click)="exportfile()">
                        <div class="w-[15px] h-[20px] items-center mt-1">
                            <img src="assets/icons/Vector.svg">
                        </div>
                        &nbsp;
                        &nbsp;
                        <span>อัปโหลด CSV</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full bg-white whitespace-nowrap">
                <thead>
                    <tr>
                        <th> </th>
                        <th>ชื่อ</th>
                        <th>เวลา</th>
                        <th>กิจกรรม</th>
                        <th>แผนก</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td>{{ pages.begin + (i + 1) }}</td>
                        <td>{{ item.user_id ? item.user_id : "-" }}</td>
                        <td>{{ item.created_at ? item.created_at : "-" }}</td>
                        <!-- <td>{{ item.created_at !== null ? (item.created_at | date : "dd-MM-yy, HH:mm"): "-"}}</td> -->
                        <td>{{ item.description ? item.description : "-" }}</td>
                        <td>Enterprise</td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="7" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>