<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-3 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-2xl md:text-2xl tracking-tight leading-7 sm:leading-10 truncate">
                    ประวัติการทำรายการ
                </h2>
                <div class="flex w-100">
                    <mat-form-field class="w-full"  >
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker" (click)="picker.open()">
                            <input matStartDate formControlName="start" placeholder="Start date" (click)="picker.open()">
                            <input matEndDate formControlName="end" placeholder="End date"(click)="picker.open()" (dateChange)="changeDate()">
                          </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-5 bg-white">
        <div class="flex flex-row justify-between py-2 px-5">
            <div class="flex justify-start items-center w-full mt-5">
                <div class="flex flex-row text-md font-normal gap-3 tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                    <mat-form-field [ngClass]="formFieldHelpers" class="min-w-[405px] min-h-[40px]">
                        <mat-icon svgIcon="search"></mat-icon>
                        <input matInput [placeholder]="'ค้นหา'" [(ngModel)]="searchQuery" (ngModelChange)="applySearch()">
                    </mat-form-field>

                    <mat-form-field [ngClass]="formFieldHelpers" class="min-w-[405px] min-h-[40px]">
                        <mat-select [(ngModel)]="department" (selectionChange)="applySearch()">

                            <mat-option [value]="''"> ทุกแผนก</mat-option>
                            <mat-option [value]="'1'"> Bank</mat-option>
                            <mat-option [value]="'2'"> Government / Hospital</mat-option>
                            <mat-option [value]="'3'"> Logistic</mat-option>
                            <mat-option [value]="'4'"> General</mat-option>
                            <mat-option [value]="'5'"> Short Term/Replacement</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-form-field [ngClass]="formFieldHelpers" class="min-w-[405px] min-h-[40px]">
                        <mat-select>
                            <mat-option [value]="''"> <span class="font-bold">แสดง</span> : ทุกคน</mat-option>
                            <mat-option [value]="''"> <span class="font-bold">แสดง</span> : บางคน</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                </div>
            </div>
            <div class="flex">
                <div class="flex text-md font-normal tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                    <button class="flex flex-row px-6 ml-3 border-2 border-gray-300 rounded-xl items-center" (click)="exportfile()">
                        <mat-icon class="icon-size-4 text-gray-500" svgIcon="heroicons_outline:document-arrow-down"></mat-icon>
                        &nbsp;
                        &nbsp;
                        <span>Export Excel</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full bg-white whitespace-nowrap">
                <thead>
                    <tr>
                        <!-- <th class="w-1">
                            <mat-checkbox [checked]="checkAll" [indeterminate]="someCheck"  (change)="setAll($event.checked)" color="primary"></mat-checkbox>
                        </th> -->
                        <th>ลำดับ</th>
                        <th>ชื่อ</th>
                        <th>เวลา</th>
                        <th>กิจกรรม</th>
                        <th>แผนก</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <!-- <td>
                            <mat-checkbox color="primary" [(ngModel)]="item.checked"></mat-checkbox>
                        </td> -->
                        <td>{{ pages.begin + (i + 1) }}</td>
                        <td>{{ item.user ? item.user.fname : "-" }} {{ item.user ? item.user.lname  : "-" }}</td>
                        <td>{{ item.created_at ? item.created_at : "-" }}</td>
                         <td>{{ item.description ? item.description : "-" }}</td>
                        <td>{{item.user?.department?.name ?? '-'}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="5" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="someOneChecked?.length" class="flex items-center justify-between w-full border-t mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700 sticky bottom-0 h-24">
        <button class="rounded-md border-black border min-w-36" mat-stroked-button (click)="cancelCheck()">
            ยกเลิก
        </button>
        <span class="text-lg font-bold mx-5">เลือกแล้ว {{someOneChecked.length}}</span>
        <button class="inline-flex rounded-md min-w-36" mat-flat-button [color]="'primary'" (click)="confirmDelete()">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_asha:delete'"></mat-icon>
            <span class="ml-2">ลบรายการ</span>
        </button>
    </div>
</div>
