<div class="flex flex-col flex-auto min-w-0 gap-5">
    <div class="flex flex-row items-center justify-between p-3 bg-card dark:bg-transparent">
        <div class="flex flex-row gap-4 items-center justify-between">
            <h2 class="text-2xl md:text-2xl tracking-tight leading-7 sm:leading-10 truncate"> สรุปภาพรวมการเข้ารับบริการ > ศูนย์ที่ลูกค้าเข้ารับบริการ > {{centerName}}
            </h2>
        </div>

        <div class="flex flex-row gap-4">
            <button class="px-6 rounded-md border border-gray-500 " mat-stroked-button color="accent" (click)="exportExcel()">
                <mat-icon svgIcon="heroicons_outline:document-arrow-down"></mat-icon>&nbsp; Export Excel
            </button>

            <mat-form-field class="flex w-80" [ngClass]="formFieldHelpers" style="margin-bottom: -1.25em">
                <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
                    <input matStartDate placeholder="วันที่เริ่ม">
                    <input matEndDate placeholder="วันที่สิ้นสุด">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
    </div>

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto rounded-2xl dashboard-card">

        <div class="flex flex-col flex-auto bg-card gap-8 w-full p-8">
            <div class="font-medium">วิเคราะห์การเข้ารับบริการ</div>
            <hr style="margin: 0;">
            <div class="grid grid-cols-2 divide-x">
                <div class="flex flex-col">
                    <div class="text-base font-semibold mb-3">{{centerName}}</div>
                    <div class="">
                        <div class="flex flex-row">
                            <div class="flex flex-col w-1/2">
                                <div class="">ประเภทการเข้ารับบริการอันดับ 1 </div>
                                <div class="text-2xl font-bold">{{most_top_service().name}}</div>
                            </div>
                            <div class="flex flex-col w-1/2">
                                <div class="">เฉลี่ยการเข้ารับบริการ</div>
                                <div class="text-2xl font-bold">{{most_top_service().total}} ครั้ง/ สัปดาห์</div>
                            </div>
                        </div>

                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"></apx-chart>
                    </div>
                </div>
                <div class="flex flex-col pl-8">
                    <div class="flex flex-row justify-between">
                        <div class="text-base font-semibold mb-3">จำนวนการเข้ารับบริการทั้งหมด</div>
                        <div class="text-base font-semibold mb-3">{{total_service | number}}</div>
                    </div>
                    <div class="text-base font-semibold">

                        <div class="flex flex-row w-full h-10 my-5 rounded-lg text-base font-semibold text-white">
                            <div class="flex bg-[#FF4849] h-10 text-center items-center" [ngClass]="calPerStyly(calPers(0)) ? 'pl-4' : ''" [style.width]="calPers(0) + '%'">
                                {{calPerStyly(calPers(0))}}
                            </div>
                            <div class="flex bg-[#2B4D66] h-10 text-center items-center" [ngClass]="calPerStyly(calPers(1)) ? 'pl-4' : ''" [style.width]="calPers(1) + '%'">
                                {{calPerStyly(calPers(1))}}
                            </div>
                            <div class="flex bg-[#33C455] h-10 text-center items-center" [ngClass]="calPerStyly(calPers(2)) ? 'pl-4' : ''" [style.width]="calPers(2) + '%'">
                                {{calPerStyly(calPers(2))}}
                            </div>
                            <div class="flex bg-[#FFB600] h-10 text-center items-center" [ngClass]="calPerStyly(calPers(3)) ? 'pl-4' : ''" [style.width]="calPers(3) + '%'">
                                {{calPerStyly(calPers(3))}}
                            </div>
                            <div class="flex bg-[#6692FB] h-10 text-center items-center" [ngClass]="calPerStyly(calPers(4)) ? 'pl-4' : ''" [style.width]="calPers(4) + '%'">
                                {{calPerStyly(calPers(4))}}
                            </div>
                            <div class="flex bg-[#00B8D9] h-10 text-center items-center" [ngClass]="calPerStyly(calPers(5)) ? 'pl-4' : ''" [style.width]="calPers(5) + '%'">
                                {{calPerStyly(calPers(5))}}
                            </div>
                            <div class="flex bg-[#B76E00] h-10 text-center items-center" [ngClass]="calPerStyly(calPers(6)) ? 'pl-4' : ''" [style.width]="calPers(6) + '%'">
                                {{calPerStyly(calPers(6))}}
                            </div>
                            <div class="flex bg-[#BBBACE] h-10 text-center items-center" [ngClass]="calPerStyly(calPers(7)) ? 'pl-4' : ''" [style.width]="calPers(7) + '%'">
                                {{calPerStyly(calPers(7))}}
                            </div>
                        </div>

                        <ul class="list-none">
                            <li class="h-7">
                                <div class="flex flex-row items-center justify-between">
                                    <div class="flex gap-3 items-center">
                                        <div class="flex items-center justify-center w-4 h-4 bg-[#FF4849] bg-opacity-30 rounded-full">
                                            <div class="flex w-2 h-2 bg-[#FF4849] rounded-full"></div>
                                        </div>
                                        <div class="flex">เปลี่ยนยาง</div>
                                    </div>
                                    <div class="flex">{{typeScore[0] | number}}</div>
                                </div>
                            </li>

                            <li class="h-7">
                                <div class="flex flex-row items-center justify-between">
                                    <div class="flex gap-3 items-center">
                                        <div class="flex items-center justify-center w-4 h-4 bg-[#2b4d66] bg-opacity-30 rounded-full">
                                            <div class="flex w-2 h-2 bg-[#2B4D66] rounded-full"></div>
                                        </div>
                                        <div class="flex">เปลี่ยนแบตเตอรี่</div>
                                    </div>
                                    <div class="flex">{{typeScore[1] | number}}</div>
                                </div>
                            </li>

                            <li class="h-7">
                                <div class="flex flex-row items-center justify-between">
                                    <div class="flex gap-3 items-center">
                                        <div class="flex items-center justify-center w-4 h-4 bg-[#33C455] bg-opacity-30 rounded-full">
                                            <div class="flex w-2 h-2 bg-[#33C455] rounded-full"></div>
                                        </div>
                                        <div class="flex">เช็คระยะ</div>
                                    </div>
                                    <div class="flex">{{typeScore[2] | number}}</div>
                                </div>
                            </li>

                            <li class="h-7">
                                <div class="flex flex-row items-center justify-between">
                                    <div class="flex gap-3 items-center">
                                        <div class="flex items-center justify-center w-4 h-4 bg-[#FFB600] bg-opacity-30 rounded-full">
                                            <div class="flex w-2 h-2 bg-[#FFB600] rounded-full"></div>
                                        </div>
                                        <div class="flex">เช็คระบบแอร์</div>
                                    </div>
                                    <div class="flex">{{typeScore[3] | number}}</div>
                                </div>
                            </li>

                            <li class="h-7">
                                <div class="flex flex-row items-center justify-between">
                                    <div class="flex gap-3 items-center">
                                        <div class="flex items-center justify-center w-4 h-4 bg-[#6692FB] bg-opacity-30 rounded-full">
                                            <div class="flex w-2 h-2 bg-[#6692FB] rounded-full"></div>
                                        </div>
                                        <div class="flex">เช็คระบบเบรค</div>
                                    </div>
                                    <div class="flex">{{typeScore[4] | number}}</div>
                                </div>
                            </li>

                            <li class="h-7">
                                <div class="flex flex-row items-center justify-between">
                                    <div class="flex gap-3 items-center">
                                        <div class="flex items-center justify-center w-4 h-4 bg-[#00B8D9] bg-opacity-30 rounded-full">
                                            <div class="flex w-2 h-2 bg-[#00B8D9] rounded-full"></div>
                                        </div>
                                        <div class="flex">เช็คระบบไฟ</div>
                                    </div>
                                    <div class="flex">{{typeScore[5] | number}}</div>
                                </div>
                            </li>

                            <li class="h-7">
                                <div class="flex flex-row items-center justify-between">
                                    <div class="flex gap-3 items-center">
                                        <div class="flex items-center justify-center w-4 h-4 bg-[#B76E00] bg-opacity-30 rounded-full">
                                            <div class="flex w-2 h-2 bg-[#B76E00] rounded-full"></div>
                                        </div>
                                        <div class="flex">เช็คช่วงล่าง</div>
                                    </div>
                                    <div class="flex">{{typeScore[6] | number}}</div>
                                </div>
                            </li>

                            <li class="h-7">
                                <div class="flex flex-row items-center justify-between">
                                    <div class="flex gap-3 items-center">
                                        <div class="flex items-center justify-center w-4 h-4 bg-[#BBBACE] bg-opacity-30 rounded-full">
                                            <div class="flex w-2 h-2 bg-[#BBBACE] rounded-full"></div>
                                        </div>
                                        <div class="flex">อื่นๆ</div>
                                    </div>
                                    <div class="flex">{{typeScore[7] | number}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap w-full max-w-screen-xl bg-card mx-auto rounded-2xl dashboard-card">
        <div class="flex flex-col flex-auto gap-8 w-full">
            <div class="relative overflow-x-auto shadow-md sm: bg-white">
                <div class="flex flex-row justify-between py-2 px-5">
                    <div class="flex justify-start items-center w-[405px] mt-5">
                        <div class="flex text-md font-normal tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                            <mat-form-field [ngClass]="formFieldHelpers" class="min-w-[405px] min-h-[40px]">
                                <mat-icon svgIcon="search"></mat-icon>
                                <input matInput [placeholder]="'ค้นหา'">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flex text-md font-normal tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                            <button class="px-6 rounded-md border border-gray-500 " mat-stroked-button color="accent" (click)="exportExcel2()">
                                <mat-icon svgIcon="heroicons_outline:document-arrow-down"></mat-icon>&nbsp; Export Excel11
                            </button>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
                    <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full bg-white whitespace-nowrap">
                        <thead>
                            <tr>
                                <th class="w-auto">ทะเบียนรถ</th>
                                <th class="w-auto">วันเวลา</th>
                                <th class="w-auto">ไมล์</th>
                                <th class="w-auto">กิจกรรม</th>
                                <th class="w-auto">บริษัท</th>
                                <th class="w-auto">อายุรถ <span class="text-sm font-light">ตั้งแต่วันนำเข้าระบบ -
                                        วันที่เข้ารับบริการ</span></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataRow?.length != 0">
                            <tr *ngFor="let item of dataRow; let i = index">
                                <td (mouseover)="showTooltipShow(i)" (mouseout)="showTooltipNot(i)">
                                    <div *ngIf="showTool == i" class="tooltip-box c-box--arrow-left">
                                        <table>
                                            <tr>
                                                <td style="width:49%;">
                                                    <p class="text-sm">วันเริ่มสัญญา</p>
                                                    <span>{{item.created_at | date:'dd/MM/YYYY'}}</span>
                                                </td>
                                                <td style="width:2%;">
                                                    <div class="vl"></div>
                                                </td>
                                                <td style="width:49%;">
                                                    <p class="text-sm">วันหมดสัญญา</p>
                                                    <span>{{item.created_at | date:'dd/MM/YYYY'}}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    {{item.license_plate}}
                                    <br> {{item.brand}}

                                </td>
                                <td>{{item.created_at | date:'dd/MM/YYYY HH:mm'}}</td>
                                <td>{{item.mile ?? 0}} km</td>
                                <td>
                                    <div [innerHTML]="item.status"></div>
                                </td>
                                <td>{{item.client?.company}}</td>
                                <td>{{item.age}}</td>
                            </tr>
                        </tbody>

                        <tbody *ngIf="dataRow?.length == 0">
                            <tr>
                                <td colspan="15" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>