<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div class="flex flex-row items-center justify-between p-3 bg-card dark:bg-transparent">
        <div class="flex flex-row gap-4 items-center justify-between">
            <h2 class="text-2xl md:text-2xl tracking-tight leading-7 sm:leading-10 truncate"> สรุปภาพรวมการเข้ารับบริการ > {{departmentName}}</h2>
        </div>

        <div class="flex flex-row gap-4">
            <button class="px-6 rounded-md border border-gray-500 " mat-stroked-button color="accent">
                <mat-icon svgIcon="heroicons_outline:document-arrow-down"></mat-icon>&nbsp; Export Excel
            </button>

            <mat-form-field class="flex w-80" [ngClass]="formFieldHelpers" style="margin-bottom: -1.25em">
                <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
                    <input matStartDate placeholder="วันที่เริ่ม">
                    <input matEndDate placeholder="วันที่สิ้นสุด">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
    </div>

    <!-- Main -->
    <div class="relative overflow-x-auto shadow-md sm:  rounded-lg m-5  bg-white">
        <!-- <div class="flex flex-row justify-between py-2 px-5">
            <div class="flex justify-start items-center w-[405px] mt-5">
                <div
                    class="flex text-md font-normal tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                    <mat-form-field [ngClass]="formFieldHelpers" class="min-w-[405px] min-h-[40px]">
                        <mat-icon svgIcon="search"></mat-icon>
                        <input matInput [placeholder]="'ค้นหา'">
                    </mat-form-field>
                </div>
            </div>
        </div> -->
        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full bg-white whitespace-nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th>บริษัท</th>
                        <th class="">จำนวนการเข้ารับบริการ</th>
                        <th class="">จำนวนรถเข้ารับบริการ</th>
                        <th class="">จำนวนรถในพอร์ต</th>
                        <th class="">ค่าเฉลี่ยการเข้ารับบริการ</th>
                        <th class="">สถานะ</th>
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td>
                            <div *ngIf="i < 3" class="flex w-8 h-8 items-center justify-center rounded-full bg-white">
                                <div [ngClass]="i == 0 ? 'bg-[#FBAF5D]' : i == 1 ? 'bg-[#919AA9]' : i == 2 ? 'bg-[#CE7430]' : ''" class="flex w-7 h-7 items-center justify-center rounded-full text-white font-semibold" style="box-shadow: 0px 2.3888888359069824px 4.777777671813965px 0px #0000000F;">
                                    {{i+1}}
                                </div>
                            </div>
                            <div *ngIf="i >= 3" class="flex w-8 h-8 items-center justify-center font-semibold">
                                {{i+1}}
                            </div>
                        </td>
                        <td class="font-light">{{item.company}}</td>
                        <td class="font-light">{{item.total_book}}</td>
                        <td class="font-light">{{item.total_car}}</td>
                        <td class="font-light">{{item.total_port}}</td>
                        <td class="font-light">{{item.total_avg}}</td>
                        <td class="font-light">
                            <div class="text-[#1B806A] text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-[#36B37E] dark:text-green-900" *ngIf="item?.ex_status === false">
                                <span class="bg-green-100 p-1 rounded-md"> ใช้งานอยู่</span>
                            </div>
                            <div class="text-[#B71D18]  text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-300 dark:text-red-900" *ngIf="item?.ex_status === true">
                                <span class="bg-red-200 p-1 rounded-md">หมดอายุ</span>
                            </div>
                        </td>
                        <td>
                            <div class="flex flex-row gap-1 items-center">
                                <div class="font-medium text-[#FF4849]">
                                    <a [routerLink]="[item.id]" [queryParams]="{name: departmentName, company: item.company}" routerLinkActive="router-link-active">
                                        ดูเพิ่มเติม
                                    </a>
                                </div>
                                <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.29286 3.96477C3.90234 3.57424 3.26918 3.57424 2.87865 3.96477C2.48813 4.35529 2.48813 4.98846 2.87865 5.37898L4.99994 7.50028L2.87862 9.6216C2.4881 10.0121 2.4881 10.6453 2.87862 11.0358C3.26915 11.4263 3.90231 11.4263 4.29284 11.0358L7.11516 8.21349C7.11721 8.21147 7.11925 8.20945 7.12129 8.20741C7.50571 7.82299 7.51172 7.20345 7.13931 6.81168C7.1334 6.80546 7.12739 6.7993 7.12129 6.7932C7.12128 6.79319 7.12127 6.79318 7.12127 6.79317C7.1212 6.7931 7.12113 6.79303 7.12106 6.79296L4.29286 3.96477Z"
                                        fill="#FF4849" />
                                </svg>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="15" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>