<div class="md:max-w-lg mx-auto">
    <div class="flex flex-row justify-between">
        <div class="flex text-xl font-semibold mb-4 ml-5 text-center justify-center"  style="align-items: center;">
            <h1 mat-dialog-title >สร้าง Ticket</h1>
        </div>
        <div>
        <mat-form-field [ngClass]="formFieldHelpers" class="w-2/3">
            <mat-select >
                <mat-label class=" font-light">จังหวัดตามป้ายทะเบียน</mat-label>
                <mat-option *ngFor="let item of status;" value="{{item.code}}">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>   
        &nbsp;
        &nbsp;
        <span> <mat-icon svgIcon="feather:x"></mat-icon></span>
       
    </div>
    </div>
    <div mat-dialog-content class="max-h-96 md:max-h-180">
        <form [formGroup]="addForm">
            <div class="md:w-full px-3">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>ข้อมูลรถ</mat-label>
                    <input matInput [placeholder]="'กรุณาระบุข้อมูลรถ'" >
                </mat-form-field>
            </div>
            <div class="flex flex-row md:w-full px-3">
                <div  class="w-1/2">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>วันที่นัดหมาย</mat-label>
                        <input matInput [placeholder]="'กรุณาระบุข้อมูลรถ'" >
                    </mat-form-field>
                </div>&nbsp;
                <div  class="w-1/2">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>วันที่นัดหมาย</mat-label>
                        <input matInput [placeholder]="'กรุณาระบุข้อมูลรถ'" >
                    </mat-form-field>
                </div>
            </div>
            <div class="grid grid-cols-4 gap-4" >
                <div class="flex h-20 w-20 border-2 bg-white rounded-lg items-center justify-center" *ngFor="let item of services; let i = index">
                    <mat-checkbox ></mat-checkbox>
                    <img class="h-15 w-15"
                    src="{{item.image}}"
                    alt="image description">
                </div>
            </div>
            <div class="md:w-full px-3">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>ข้อมูลรถ</mat-label>
                    <mat-select >
                        <mat-label class=" font-light">จังหวัดตามป้ายทะเบียน</mat-label>
                        <mat-option *ngFor="let item of status;" value="{{item.code}}">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div  class="w-full">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>วันที่นัดหมาย</mat-label>
                    <input matInput [placeholder]="'กรุณาระบุข้อมูลรถ'" >
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="flex justify-end mt-4">
        <button class="px-6 ml-3" mat-flat-button (click)="onCancelClick()">
            <div class="font-light">
                ยกเลิก
            </div>
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSaveClick()">
            <div class="font-light">
                บันทึก
            </div>
        </button>

    </div>
</div>