<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between items-center">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    ศูนย์บริการ
                </h2>
            
                <div class="flex">
                    <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate" style="border: 1px solid #ccc; padding: 1px; border-radius: 20px;">
                        <button class="px-6 ml-3 rounded-full" mat-flat-button [color]="'white'" (click)="addElement()">
                            <mat-icon>description</mat-icon>
                            &nbsp;
                            อัปโหลด CSV
                        </button>
                    </div>
            
                    <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate ml-3">
                        <button class="px-6" mat-flat-button [color]="'primary'" (click)="addElement()">
                            <mat-icon>add_circle_outline</mat-icon>
                            &nbsp;
                            เพิ่มศูนย์บริการ
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <!-- Main -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-10  bg-white">
        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full bg-white whitespace-nowrap">
                <thead>
                    <tr>
                        <th>ชื่อ</th>
                        <th>เบอร์ติดต่อ</th>
                        <th>ที่อยู่</th>
                        <th class="w-[100px]"> </th>
                    </tr>
                </thead>
                <!-- <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td> TOYOTA วรจักร์ยนต์ </td>
                        <td> 5</td>
                        <td>5 </td>
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(item.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody> -->
                <tbody *ngIf="dataRow && dataRow.length > 0">
                    <tr>
                        <td>TOYOTA วรจักร์ยนต์</td>
                        <td>02-123-2112</td>
                        <td>48 ถนน เจริญราษฎร์ แขวงบางโคล่ เขตบางคอแหลม กรุงเทพมหานคร...</td>
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(dataRow[0].id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Toyota Bangkok สาขาเจริญราษฎร์</td>
                        <td>02-322-1111</td>
                        <td>48 ถนน เจริญราษฎร์ แขวงบางโคล่ เขตบางคอแหลม กรุงเทพมหานคร...</td>
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(dataRow[0].id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Toyota Bangkok สาขาเจริญราษฎร์</td>
                        <td>02-322-1111</td>
                        <td>48 ถนน เจริญราษฎร์ แขวงบางโคล่ เขตบางคอแหลม กรุงเทพมหานคร...</td>
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(dataRow[0].id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
                
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="15" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>