<form [formGroup]="addForm" class="w-full">
    <div class="flex flex-col flex-auto min-w-0">
        <!-- Header -->
        <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
            <div class="flex-1 min-w-0">
                <!-- Title -->
                <div class="flex flex-row mt-2 justify-center">
                    <h2 class="flex text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate h-20 items-center">
                        แก้ไขข้อมูลรถในระบบ
                    </h2>
                </div>

            </div>
        </div>

        <div class="flex-auto px-32 sm:px-32 py-12 items-center ">
            <div class="bg-card md:shadow overflow-hidden rounded-2xl px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
                <div class="md:max-w-full">
                    <div mat-dialog-content class="max-h-96 md:max-h-180">
                        <form [formGroup]="addForm">



                            <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5 text-left">รายละเอียดรถ
                            </h1>
                            <div class="grid grid-cols-3 grid-flow-col gap-4 ">
                                <div class="row-span-3 ">
                                    <ngx-dropzone (change)="onSelect($event)">
                                        <ngx-dropzone-label>
                                            <mat-icon svgIcon="feather:camera"></mat-icon><br>อัปโหลดรูปรถ</ngx-dropzone-label>
                                        <div *ngFor="let f of files">
                                            <ngx-dropzone-image-preview [file]="f" [removable]="true" (removed)="onRemove(f)"></ngx-dropzone-image-preview>
                                        </div>
                                    </ngx-dropzone>
                                    <div class="text-center font-light mt-4">ไฟล์ที่รองรับ *.jpeg, *.jpg, *.png,
                                        <br> สูงสุดไม่เกิน 3.1 MB
                                    </div>
                                </div>
                                <div class="col-span-2">
                                    <div class="md:w-full px-3 mb-6 md:mb-0">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full" appearance="outline">
                                            <mat-label class=" font-light">รุ่นรถยนต์</mat-label>
                                            <mat-select formControlName="brand_model_id" readonly>
                                                <mat-option *ngFor="let item of this.brandmodel;" value="{{item.id}}">
                                                    {{item.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="md:w-full px-3">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full" appearance="outline">
                                            <mat-label class=" font-light">ป้ายทะเบียนรถ</mat-label>
                                            <input matInput formControlName="license" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="md:w-full px-3">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full" appearance="outline">
                                            <mat-label class=" font-light">ศูนย์บริการ</mat-label>
                                            <input matInput formControlName="brand" readonly>
                                            <mat-hint>B-Quik , TOYOTA , A.C.T</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>


                            </div>





                            <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5 text-left">สถานะการเช่ารถ</h1>
                            <div>
                                <mat-radio-group aria-label="Select an option" formControlName="status">
                                    <mat-radio-button value="Available">
                                        <div class="font-light">ใช้งานอยู่</div>
                                    </mat-radio-button>
                                    <!-- <mat-radio-button value="Unavailable">
                                        <div class="font-light">ว่าง</div>
                                    </mat-radio-button> -->
                                </mat-radio-group>
                            </div>
                            <div *ngIf="this.addForm.value.status === 'Available'">
                                <div class="md:w-full px-3 mt-5">
                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full" appearance="outline">
                                        <mat-label class=" font-light">บริษัท</mat-label>
                                        <mat-select formControlName="client_id">
                                            <mat-option *ngFor="let item of this.company;" value="{{item.id}}">
                                                {{item.company}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="md:w-full px-3">
                                    <mat-form-field class="w-full" appearance="outline">
                                        <mat-label class=" font-light">วันหมดสัญญา</mat-label>
                                        <input readonly [formControlName]="'expire_date'" matInput placeholder="วันหมดสัญญา" [matDatepicker]="picker_start_date">
                                        <mat-datepicker-toggle matSuffix [for]="picker_start_date"></mat-datepicker-toggle>
                                        <mat-datepicker #picker_start_date></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bg-card md:shadow overflow-hidden px-8 pt-3 pb-4 flex flex-col">
        <div class="md:max-w-full">
            <div mat-dialog-actions class="flex justify-end mt-4">
                <div class="text-3xl md:text-4xl font-light tracking-tight leading-7 sm:leading-10 truncate" style="border: 1px solid #ccc; padding: 1px; border-radius: 10px;">
                    <button class="px-6 rounded-md" mat-flat-button [color]="'white'" (click)="back()">
                        ยกเลิก
                    </button>
                </div>
                <div class="text-3xl md:text-4xl font-light tracking-tight leading-7 sm:leading-10 truncate" hidden>
                    <button class="px-6 ml-3 font-light rounded-md" mat-flat-button [color]="'primary'" (click)="onSaveClick()">
                        <div class="font-light">
                            บันทึก
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>