<div class="flex flex-col flex-auto w-full gap-5">
    <div [formGroup]="form" class="flex flex-row items-center justify-between p-3 bg-card dark:bg-transparent">
        <div class="flex flex-row gap-4 items-center justify-between">
            <h2 class="text-2xl md:text-2xl tracking-tight leading-7 sm:leading-10 truncate"> สรุปภาพรวม </h2>

            <mat-form-field [ngClass]="formFieldHelpers" class="flex w-60" style="margin-bottom: -1.25em">
                <mat-select formControlName="department_id">
                    <mat-option value="">ทุกแผนก</mat-option>
                    <mat-option *ngFor="let item of departmests;" value="{{item.id}}">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field [ngClass]="formFieldHelpers" class="flex w-60" style="margin-bottom: -1.25em">
                <mat-select formControlName="user_id">
                    <mat-option value="">พนักงานทุกคน</mat-option>
                    <mat-option *ngFor="let item of employees;" value="{{item.id}}">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-row gap-4">
            <button class="px-6 rounded-md border border-gray-500 " mat-stroked-button color="accent">
                <mat-icon svgIcon="heroicons_outline:document-arrow-down"></mat-icon>&nbsp; Export Excel
            </button>

            <mat-form-field class="flex w-80" [ngClass]="formFieldHelpers" style="margin-bottom: -1.25em">
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="วันที่เริ่ม" formControlName="startDate">
                    <input matEndDate placeholder="วันที่สิ้นสุด" formControlName="endDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
    </div>

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto rounded-2xl"
        style="box-shadow: 0px 0px 30px 0px #22222214;">


        <div class="flex flex-col flex-auto bg-card gap-8 w-full p-8">
            <div class="flex flex-row justify-between">
                <div class="font-medium">ภาพรวม Ticket</div>
                <a [routerLink]="['/admin/ticket/list']" routerLinkActive="router-link-active" >
                    <div class="flex flex-row gap-1 items-center">
                        <div class="font-medium text-[#FF4849]">ดูเพิ่มเติม</div>
                        <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M4.29286 3.96477C3.90234 3.57424 3.26918 3.57424 2.87865 3.96477C2.48813 4.35529 2.48813 4.98846 2.87865 5.37898L4.99994 7.50028L2.87862 9.6216C2.4881 10.0121 2.4881 10.6453 2.87862 11.0358C3.26915 11.4263 3.90231 11.4263 4.29284 11.0358L7.11516 8.21349C7.11721 8.21147 7.11925 8.20945 7.12129 8.20741C7.50571 7.82299 7.51172 7.20345 7.13931 6.81168C7.1334 6.80546 7.12739 6.7993 7.12129 6.7932C7.12128 6.79319 7.12127 6.79318 7.12127 6.79317C7.1212 6.7931 7.12113 6.79303 7.12106 6.79296L4.29286 3.96477Z"
                                fill="#FF4849" />
                        </svg>
                    </div>
                </a>
            </div>
            <div class="grid grid-cols-4 gap-8">
                <div class="border border-gray-300 p-6 rounded-2xl">
                    <div class="flex flex-row">
                        <div class="w-16 h-16">
                            <img src="assets\images\all.png" alt="">
                        </div>
                        <div class="flex flex-col justify-between pl-6">
                            <div class="text-xs">จำนวนเคสทั้งหมด</div>
                            <div class="font-bold">{{data.summary_ticket.all.total | number}}</div>
                            <div class="flex flex-row gap-1 items-center">
                                <div class="flex flex-row items-center gap-1">
                                    <div class="text-xs">{{data.summary_ticket.all.percent}}%</div>
                                    <svg width="7" height="4" viewBox="0 0 7 4" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M6.65905 3.17075C6.94193 3.49404 6.71234 4 6.28276 4H1.48653C1.05695 4 0.827359 3.49404 1.11024 3.17075L3.50836 0.430043C3.70756 0.20238 4.06173 0.20238 4.26093 0.430044L6.65905 3.17075Z"
                                            fill="#344054" />
                                    </svg>
                                </div>
                                <div class="text-xs">จาก 7 วันที่แล้ว</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border border-gray-300 p-6 rounded-2xl">
                    <div class="flex flex-row">
                        <div class="w-16 h-16">
                            <img src="assets\images\procress.png" alt="">
                        </div>
                        <div class="flex flex-col justify-between pl-6">
                            <div class="text-xs">กำลังดำเนินการ</div>
                            <div class="font-bold">{{data.summary_ticket.process.total | number}}</div>
                            <div class="flex flex-row gap-1 items-center">
                                <div class="text-xs bg-gray-200 rounded-full p-1">{{data.summary_ticket.process.percent}}%</div>
                                <div class="text-xs">จาก 7 วันที่แล้ว</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border border-gray-300 p-6 rounded-2xl">
                    <div class="flex flex-row">
                        <div class="w-16 h-16">
                            <img src="assets\images\pending.png" alt="">
                        </div>
                        <div class="flex flex-col justify-between pl-6">
                            <div class="text-xs">รอเข้ารับบริการ</div>
                            <div class="font-bold">{{data.summary_ticket.waiting.total | number}}</div>
                            <div class="flex flex-row gap-1 items-center">
                                <div class="text-xs bg-gray-200 rounded-full p-1">{{data.summary_ticket.waiting.percent}}%</div>
                                <div class="text-xs">จาก 7 วันที่แล้ว</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border border-gray-300 p-6 rounded-2xl">
                    <div class="flex flex-row">
                        <div class="w-16 h-16">
                            <img src="assets\images\success.png" alt="">
                        </div>
                        <div class="flex flex-col justify-between pl-6">
                            <div class="text-xs">เสร็จสิ้น</div>
                            <div class="font-bold">{{data.summary_ticket.finish.total | number}}</div>
                            <div class="flex flex-row gap-1 items-center">
                                <div class="text-xs bg-gray-200 rounded-full p-1">{{data.summary_ticket.finish.percent}}%</div>
                                <div class="text-xs">จาก 7 วันที่แล้ว</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto rounded-2xl"
        style="box-shadow: 0px 0px 30px 0px #22222214;">

        <div class="flex flex-col flex-auto bg-card gap-8 w-full p-8">
            <app-kpi-chart [data]="data"></app-kpi-chart>
        </div>

    </div>

    <div class="flex flex-row w-full max-w-screen-xl gap-8 mx-auto rounded-2xl mb-5">

        <div class="flex flex-col flex-auto bg-card gap-8 w-4/6 p-8">
            <div class="flex flex-row justify-between">
                <div class="font-medium">ลำดับประสิทธิภาพการทำงานสูงสุด</div>
            </div>
            <div class="">
                <table class="table-auto w-full">
                    <thead>
                        <tr>
                            <th class="text-start w-1/12">พนักงาน</th>
                            <th class="text-start w-2/12"></th>
                            <th class="text-start w-1/12">Team</th>
                            <th class="text-start w-1/12">จำนวนเคส</th>
                            <th class="text-start w-1/12">ระยะเวลาเฉลี่ย ในการรับเคส</th>
                            <th class="text-start w-1/12">ระยะเวลาเฉลี่ย ในการปิดงาน</th>
                            <th class="text-start w-2/12">
                                <div class="flex flex-row items-center gap-1">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M13.9635 5.37072C13.8719 5.08724 13.6204 4.88589 13.3229 4.85908L9.28216 4.49217L7.68432 0.752285C7.56651 0.4782 7.29819 0.300781 7.00007 0.300781C6.70195 0.300781 6.43364 0.4782 6.31582 0.752926L4.71798 4.49217L0.67656 4.85908C0.379616 4.88653 0.128816 5.08724 0.0366355 5.37072C-0.0555452 5.65421 0.0295858 5.96514 0.254216 6.16115L3.30857 8.83983L2.40791 12.8072C2.34201 13.0989 2.45523 13.4005 2.69727 13.5754C2.82737 13.6694 2.97958 13.7173 3.13307 13.7173C3.26542 13.7173 3.39669 13.6816 3.51451 13.6111L7.00007 11.5279L10.4844 13.6111C10.7393 13.7645 11.0607 13.7505 11.3022 13.5754C11.5444 13.3999 11.6575 13.0983 11.5916 12.8072L10.6909 8.83983L13.7453 6.16168C13.9699 5.96514 14.0557 5.65474 13.9635 5.37072Z"
                                            fill="#FFC107" />
                                    </svg>
                                    คะแนนความพึงพอใจ
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let person of data.work_ranking_persons.slice(0,10); let i = index;">
                            <td class="py-4">{{i+1}}</td>
                            <td>
                                <div class="flex flex-row items-center gap-4">
                                    <img *ngIf="person.image" class="inline-block h-8 w-8 rounded-full ring-2 ring-white" [src]="person.image" alt="">
                                    {{person.fname}}
                                </div>
                            </td>
                            <td class="py-4">{{person.team}}</td>
                            <td class="py-4">{{person.case | number}}</td>
                            <td class="py-4">{{minutesToMMSS(person.period_open)}}m</td>
                            <td class="py-4">{{minutesToMMSS(person.period_finish)}}m</td>
                            <td class="py-4">
                                <span class="text-[#2EB47B]" style="background: #36B37E21;padding: 2px 8px 4px 8px;">พึงพอใจมาก</span> 4.9
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <app-complacence-chart [data]="data" class="flex flex-col flex-auto bg-card gap-8 w-2/6 p-8"></app-complacence-chart>

    </div>
</div>
