<div class="flex flex-row justify-between">
    <div class="font-medium">สถิติเคสและประสิทธิภาพการทำงานของพนักงาน</div>
</div>
<div class="flex flex-row">
    <div class="w-4/5 pr-8">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke" [title]="chartOptions.title"></apx-chart>
    </div>
    <div class="flex flex-col w-1/5 justify-between">
        <div class="block">
            <div class="text-medium font-normal">ระยะเวลาเฉลี่ยในการรับเคส</div>
            <div class="text-4xl font-bold">{{data.periods.case}}</div>
        </div>
        <div class="block">
            <div class="text-medium font-normal">ระยะเวลาเฉลี่ยในการปิดงาน</div>
            <div class="text-4xl font-bold">{{data.periods.finish}}</div>
        </div>
        <div class="block">
            <div class="text-medium font-normal">ระยะเวลาเฉลี่ยในการโทร</div>
            <div class="text-4xl font-bold">{{data.periods.call}}</div>
        </div>
    </div>
</div>