<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-2xl md:text-2xl font-light tracking-tight leading-7 sm:leading-10 truncate">
                    จัดการบัญชีลูกค้า
                </h2>
                <div class="text-3xl md:text-4xl font-light tracking-tight leading-7 sm:leading-10 truncate">
                    <button class="px-6 ml-3 font-light " mat-flat-button [color]="'primary'" (click)="addElement()">

                        <mat-icon>add_circle_outline</mat-icon>

                        <div class="font-light">
                            เพิ่มลูกค้า
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                ทั้งหมด

            </ng-template>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-10  bg-white">
                <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
                    <table datatable [dtOptions]="dtOptions"
                        class="table row-border hover w-full bg-white whitespace-nowrap">
                        <thead>
                            <tr>
                                <th class="font-light">ชื่อ</th>
                                <th class="font-light">บริษัท</th>
                                <th class="font-light">จำนวนรถ</th>
                                <th class="font-light ">สถานะ</th>
                                <th class="font-light ">วันหมดอายุ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataRow?.length != 0">
                            <tr *ngFor="let item of dataRow; let i = index">
                                <td style="width: 100px; min-width: 100px;" class="font-light">Maria Rusk</td>
                                <td style="width: 100px; min-width: 100px;" class="font-light">ไทยประกันชีวิต</td>
                                <td style="width: 100px; min-width: 100px;" class="font-light">12</td>
                                <td style="width: 100px; min-width: 100px;">
                                    <div
                                        class="text-green-500 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-300 dark:text-green-900">
                                        เปิดใช้งาน
                                    </div>
                                </td>
                                <td style="width: 100px; min-width: 100px;" class="font-light">11/10/2023</td>
                                <td style="width: 100px; min-width: 100px;"> <button mat-icon-button>
                                        <mat-icon>border_color</mat-icon>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="dataRow?.length == 0">
                            <tr>
                                <td colspan="7" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                ใช้งานอยู่

            </ng-template>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-10  bg-white">
                <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
                    <table datatable [dtOptions]="dtOptions"
                        class="table row-border hover w-full bg-white whitespace-nowrap">
                        <thead>
                            <tr>
                                <th class="font-light">ชื่อ</th>
                                <th class="font-light">บริษัท</th>
                                <th class="font-light">จำนวนรถ</th>
                                <th class="font-light ">สถานะ</th>
                                <th class="font-light ">วันหมดอายุ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataRow?.length != 0">
                            <tr *ngFor="let item of dataRow; let i = index">
                                <td style="width: 100px; min-width: 100px;" class="font-light">Maria Rusk</td>
                                <td style="width: 100px; min-width: 100px;" class="font-light">ไทยประกันชีวิต</td>
                                <td style="width: 100px; min-width: 100px;" class="font-light">12</td>
                                <td style="width: 100px; min-width: 100px;">
                                    <div
                                        class="text-green-500 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-300 dark:text-green-900">
                                        เปิดใช้งาน
                                    </div>
                                </td>
                                <td style="width: 100px; min-width: 100px;" class="font-light">11/10/2023</td>
                                <td style="width: 100px; min-width: 100px;"> <button mat-icon-button>
                                        <mat-icon>border_color</mat-icon>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="dataRow?.length == 0">
                            <tr>
                                <td colspan="7" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                หมดอายุ

            </ng-template>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-10  bg-white">
                <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
                    <table datatable [dtOptions]="dtOptions"
                        class="table row-border hover w-full bg-white whitespace-nowrap">
                        <thead>
                            <tr>
                                <th class="font-light">ชื่อ</th>
                                <th class="font-light">บริษัท</th>
                                <th class="font-light">จำนวนรถ</th>
                                <th class="font-light ">สถานะ</th>
                                <th class="font-light ">วันหมดอายุ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataRow?.length != 0">
                            <tr *ngFor="let item of dataRow; let i = index">
                                <td style="width: 100px; min-width: 100px;" class="font-light">Maria Rusk</td>
                                <td style="width: 100px; min-width: 100px;" class="font-light">ไทยประกันชีวิต</td>
                                <td style="width: 100px; min-width: 100px;" class="font-light">12</td>
                                <td style="width: 100px; min-width: 100px;">
                                    <div
                                        class="text-green-500 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-300 dark:text-green-900">
                                        เปิดใช้งาน
                                    </div>
                                </td>
                                <td style="width: 100px; min-width: 100px;" class="font-light">11/10/2023</td>
                                <td style="width: 100px; min-width: 100px;"> <button mat-icon-button>
                                        <mat-icon>border_color</mat-icon>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="dataRow?.length == 0">
                            <tr>
                                <td colspan="7" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                ระงับการใช้งาน

            </ng-template>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-10  bg-white">
                <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
                    <table datatable [dtOptions]="dtOptions"
                        class="table row-border hover w-full bg-white whitespace-nowrap">
                        <thead>
                            <tr>
                                <th class="font-light">ชื่อ</th>
                                <th class="font-light">บริษัท</th>
                                <th class="font-light">จำนวนรถ</th>
                                <th class="font-light ">สถานะ</th>
                                <th class="font-light ">วันหมดอายุ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataRow?.length != 0">
                            <tr *ngFor="let item of dataRow; let i = index">
                                <td style="width: 100px; min-width: 100px;" class="font-light">Maria Rusk</td>
                                <td style="width: 100px; min-width: 100px;" class="font-light">ไทยประกันชีวิต</td>
                                <td style="width: 100px; min-width: 100px;" class="font-light">12</td>
                                <td style="width: 100px; min-width: 100px;">
                                    <div
                                        class="text-green-500 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-300 dark:text-green-900">
                                        เปิดใช้งาน
                                    </div>
                                </td>
                                <td style="width: 100px; min-width: 100px;" class="font-light">11/10/2023</td>
                                <td style="width: 100px; min-width: 100px;"> <button mat-icon-button>
                                        <mat-icon>border_color</mat-icon>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="dataRow?.length == 0">
                            <tr>
                                <td colspan="7" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <!-- Main -->

</div>