<div class="flex flex-col justify-between w-full">
    <div class="flex flex-col flex-auto min-w-0">
        <!-- Header -->
        <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-3 sm:px-10 border-b bg-card dark:bg-transparent">
            <div class="flex-1 flemin-w-0">
                <!-- Title -->
                <div class="flex flex-row mt-2 justify-between">
                    <h2 class="text-2xl md:text-2xl tracking-tight leading-7 sm:leading-10 truncate">
                        จัดการบัญชีลูกค้า
                    </h2>
                </div>
            </div>
        </div>
        <div class="relative overflow-x-auto shadow-md sm:  rounded-lg m-5  bg-white">
            <div class="flex flex-row justify-between py-2 px-5">
                <div class="flex justify-start items-center w-[405px] mt-5">
                    <div class="flex text-md font-normal tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                        <mat-form-field [ngClass]="formFieldHelpers" class="min-w-[405px] min-h-[40px]">
                            <input matInput [placeholder]="'ค้นหา'" [(ngModel)]="searchQuery" (ngModelChange)="applySearch()">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex">
                    <div *ngIf="user.position_id != 2" class="flex text-md font-normal tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                        <button class="flex flex-row px-6 ml-3 border-2 border-gray-300 rounded-xl items-center" (click)="uploadfile()">
                            <div class="w-[15px] h-[20px] items-center mt-1">
                                <img src="assets/icons/Vector.svg">
                            </div>
                            &nbsp;
                            &nbsp;
                            <span>อัปโหลด CSV</span>
                        </button>
                    </div>
                    <div *ngIf="user.position_id != 2" class="flex text-3xl md:text-4xl font-light tracking-tight leading-7 sm:leading-10 truncate items-center">
                        <button class="px-6 ml-3 font-light rounded-md items-center " mat-flat-button [color]="'primary'" (click)="addElement()">
                            <mat-icon>add_circle_outline</mat-icon>
                            <div class="font-light">
                                เพิ่มลูกค้า
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex flex-row p-6">
                <div class="border-b-2 " [ngClass]="{'border-kPrimary': status == null}">
                    <a [routerLink]="['/admin/customer/list']" mat-button class="rounded-none text-kPrimary font-bold" [ngClass]="{'text-kPrimary font-bold': status == null}">ทั้งหมด</a>
                </div>
                <div class="border-b-2 " [ngClass]="{'border-kPrimary': status == 'active'}">
                    <a [routerLink]="['/admin/customer/list/active']" mat-button class="rounded-none" [ngClass]="{'text-kPrimary font-bold': status == 'active'}">ใช้งานอยู่</a>
                </div>
                <div class="border-b-2 " [ngClass]="{'border-kPrimary': status == 'expire'}">
                    <a [routerLink]="['/admin/customer/list/expire']" mat-button class="rounded-none" [ngClass]="{'text-kPrimary font-bold': status == 'expire'}">หมดอายุ</a>
                </div>
                <div class="border-b-2 " [ngClass]="{'border-kPrimary': status == 'block'}">
                    <a [routerLink]="['/admin/customer/list/block']" mat-button class="rounded-none" [ngClass]="{'text-kPrimary font-bold': status == 'block'}">ระงับการใช้งาน</a>
                </div>
            </div>

            <div class="flex flex-col flex-auto sm:overflow-y-auto p-6">
                <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full bg-white whitespace-nowrap">
                    <thead>
                        <tr>
                            <th *ngIf="user.position_id != 2" class="w-1">
                                <mat-checkbox [checked]="checkAll" [indeterminate]="someCheck" (change)="setAll($event.checked)" color="primary"></mat-checkbox>
                            </th>
                            <th class="font-light">รหัส</th>
                            <th class="font-light">ชื่อ</th>
                            <th class="font-light">บริษัท</th>
                            <th class="font-light">จำนวนรถ</th>
                            <th class="font-light ">สถานะ</th>
                            <th class="font-light ">วันหมดอายุ</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody *ngIf="dataRow?.length != 0">
                        <tr *ngFor="let item of dataRow; let i = index">
                            <td *ngIf="user.position_id != 2">
                                <mat-checkbox color="primary" [(ngModel)]="item.checked"></mat-checkbox>
                            </td>
                            <td style="width: 50px; min-width: 150px00px;" class="font-light">{{item?.code}}</td>
                            <td style="width: 100px; min-width: 100px;" class="font-light">{{item?.name}}</td>
                            <td style="width: 100px; min-width: 100px;" class="font-light">{{item?.company}}</td>
                            <td style="width: 100px; min-width: 100px;" class="font-light">{{item?.cars?.length}}
                            </td>
                            <td style="width: 100px; min-width: 100px;">
                                <div class="text-[#1B806A] text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-[#36B37E] dark:text-green-900" *ngIf="item?.status === 'Active'">
                                    <span class="bg-green-100 p-1 rounded-md"> ใช้งานอยู่</span>
                                </div>
                                <div class="text-[#B71D18]  text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-300 dark:text-red-900" *ngIf="item?.status === 'Expire'">
                                    <span class="bg-red-200 p-1 rounded-md">หมดอายุ</span>
                                </div>
                                <div class="text-[#B71D18]  text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-300 dark:text-red-900" *ngIf="item?.status === 'Block'">
                                    <span class="bg-red-200 p-1 rounded-md">ระงับการใช้งาน</span>
                                </div>
                            </td>
                            <td style="width: 100px; min-width: 100px;" class="font-light">{{item?.expire_date | date : 'dd/MM/yyyy' }}
                            </td>
                            <td>
                                <img *ngIf="user.position_id != 2" class="w-10 h-10 cursor-pointer" src="assets/icons/button_edit.svg" alt="Icon" (click)="edit(item.id)" />
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="dataRow?.length == 0">
                        <tr>
                            <td colspan="7" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div *ngIf="someOneChecked?.length" class="flex items-center justify-between w-full border-t mt-8 px-8 py-5 bg-white dark:bg-gray-700 sticky bottom-0 h-24">
        <button class="rounded-md border-black border min-w-36" mat-stroked-button (click)="cancelCheck()">
            ยกเลิก
        </button>
        <span class="text-lg font-bold mx-5">เลือกแล้ว {{someOneChecked.length}}</span>
        <button class="inline-flex rounded-md min-w-36" mat-flat-button [color]="'primary'" (click)="confirmDelete()">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_asha:delete'"></mat-icon>
            <span class="ml-2">ลบรายการ</span>
        </button>
    </div>

</div>