<div class="md:max-w-lg mx-auto">
    <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5 text-center">เพิ่มลูกค้า</h1>
    <div mat-dialog-content class="max-h-96 md:max-h-180">
        <form [formGroup]="addForm">

            <div class="flex flex-row">

                <div class="flex flex-col mx-3 md:flex mb-4 w-full">
                    <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5 text-left">ข้อมูลลูกค้า</h1>
                    <div>
                        <div class="md:w-full px-3">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label class=" font-light">ชื่อบริษัท</mat-label>
                                <input matInput formControlName="license">
                            </mat-form-field>
                        </div>
                        <div class="md:w-full px-3">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label class=" font-light">ชื่อลูกค้า</mat-label>
                                <input matInput formControlName="license" readonly>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <div class="md:w-full px-3">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label class=" font-light">เบอร์โทรศัพท์ติดต่อ</mat-label>
                                    <input matInput formControlName="license" readonly>
                                </mat-form-field>
                            </div>
                            <div class="md:w-full px-3">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label class=" font-light">Email</mat-label>
                                    <input matInput formControlName="license" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5 text-left">สถานะบัญชี</h1>
                        <div><mat-radio-group aria-label="Select an option" formControlName="status">
                                <mat-radio-button value="1">
                                    <div class="font-light">ใช้งานอยู่</div>
                                </mat-radio-button>
                                <mat-radio-button value="2">
                                    <div class="font-light">หมดอายุ</div>
                                </mat-radio-button>
                                <mat-radio-button value="3">
                                    <div class="font-light">ระงับการใช้งาน</div>
                                </mat-radio-button>
                            </mat-radio-group></div>

                        <div class="md:w-full px-3 pt-4">
                            <mat-label class=" font-light">วันหมดสัญญา</mat-label>
                            <mat-form-field class="w-full">
                                <input readonly [formControlName]="'date'" matInput placeholder="วันหมดสัญญา"
                                    [matDatepicker]="picker_start_date">
                                <mat-datepicker-toggle matSuffix [for]="picker_start_date"></mat-datepicker-toggle>
                                <mat-datepicker #picker_start_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <div class="md:w-full px-3">
                                <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5 pt-6 text-left">รถที่ใช้งาน
                                </h1>
                            </div>
                            <div class="md:w-full px-3 mt-3">
                                <button class="px-6 ml-3 font-light " mat-flat-button (click)="Selectcar()"
                                    [color]="'primary'">

                                    <mat-icon>add_circle_outline</mat-icon>

                                    <div class="font-light">
                                        เลือกรถ
                                    </div>
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="flex mx-4">
                        <div class="flex-none h-12 w-32">

                        </div>
                    </div>
                    <div>
                        <div class="flex flex-col" formArrayName="main_product">
                            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                    <div class="overflow-hidden">
                                        <table class="min-w-full">
                                            <thead class=" border-b bg-gray-100">
                                                <tr>
                                                    <th scope="col"
                                                        class="text-l font-extrabold text-gray-900 px-6 py-4 text-left">
                                                    </th>
                                                    <th scope="col"
                                                        class="text-l font-extrabold text-gray-900 px-6 py-4 text-left">

                                                    </th>
                                                    <th scope="col"
                                                        class="text-l font-extrabold text-gray-900 px-6 py-4 text-left">

                                                    </th>
                                                    <th scope="col"
                                                        class="text-l font-extraboldtext-gray-900 px-6 py-4 text-left">

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="border-b" *ngFor="" [formGroupName]="i">
                                                    <td
                                                        class="px-6 py-4 whitespace-nowrap text-l font-medium text-gray-900">
                                                        1</td>
                                                    <td
                                                        class="text-l text-gray-900 font-light px-6 py-4 whitespace-nowrap">

                                                    </td>

                                                    <td
                                                        class="text-l text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                        <mat-form-field class="w-60 pr-2">
                                                            <input matInput [formControlName]="'qty'"
                                                                (keyup)="onchangeTotal($event, i)">
                                                        </mat-form-field>
                                                    </td>
                                                    <td
                                                        class="text-l text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                        <button class="px-6 ml-3" mat-flat-button
                                                            (click)="removeItem(i)">
                                                            <mat-icon svgIcon="heroicons_solid:trash"> </mat-icon>&nbsp;
                                                            ลบ
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </form>
    </div>
    <div mat-dialog-actions class="flex justify-end mt-4">
        <button class="px-6 ml-3" mat-flat-button (click)="onCancelClick()">
            <div class="font-light">
                ยกเลิก
            </div>
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSaveClick()">
            <div class="font-light">
                บันทึก
            </div>
        </button>

    </div>
</div>