<div class="md:max-w-lg mx-auto">
    <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5 text-center">เพิ่มลูกค้า</h1>
    <div mat-dialog-content class="max-h-96 md:max-h-180">
        <form [formGroup]="addForm">

            <div class="flex flex-row">

                <div class="flex flex-col mx-3 md:flex mb-4 w-full">
                    <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5 text-left">ข้อมูลลูกค้า</h1>
                    <div>
                        <div class="md:w-full px-3">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label class=" font-light">ชื่อบริษัท</mat-label>
                                <input matInput formControlName="company">
                            </mat-form-field>
                        </div>
                        <div class="md:w-full px-3">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label class=" font-light">ชื่อลูกค้า</mat-label>
                                <input matInput formControlName="name">
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <div class="md:w-full px-3">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label class=" font-light">เบอร์โทรศัพท์ติดต่อ</mat-label>
                                    <input matInput formControlName="phone">
                                </mat-form-field>
                            </div>
                            <div class="md:w-full px-3">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label class=" font-light">Email</mat-label>
                                    <input matInput formControlName="email">
                                </mat-form-field>
                            </div>
                        </div>
                        <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5 text-left">สถานะบัญชี</h1>
                        <div><mat-radio-group aria-label="Select an option" formControlName="status">
                                <mat-radio-button value="Active">
                                    <div class="font-light">ใช้งานอยู่</div>
                                </mat-radio-button>
                                <mat-radio-button value="Expire">
                                    <div class="font-light">หมดอายุ</div>
                                </mat-radio-button>
                                <mat-radio-button value="3">
                                    <div class="font-light">ระงับการใช้งาน</div>
                                </mat-radio-button>
                            </mat-radio-group></div>

                        <div class="md:w-full px-3 pt-4">
                            <mat-label class=" font-light">วันหมดสัญญา</mat-label>
                            <mat-form-field class="w-full">
                                <input readonly [formControlName]="'expire_date'" matInput placeholder="วันหมดสัญญา"
                                    [matDatepicker]="picker_start_date">
                                <mat-datepicker-toggle matSuffix [for]="picker_start_date"></mat-datepicker-toggle>
                                <mat-datepicker #picker_start_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <div class="md:w-full px-3">
                                <h1 mat-dialog-title class="text-xl font-semibold mb-4 ml-5 pt-6 text-left">รถที่ใช้งาน
                                </h1>
                            </div>
                            <div class="md:w-full px-3 mt-3">
                                <button class="px-6 ml-3 font-light " mat-flat-button (click)="openDialog()"
                                    [color]="'primary'">

                                    <mat-icon>add_circle_outline</mat-icon>

                                    <div class="font-light">
                                        เลือกรถ
                                    </div>
                                </button>
                            </div>
                        </div>

                    </div>

                    <div>

                        <div class="flex flex-col" formArrayName="cars">
                            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                    <div class="overflow-hidden">
                                        <div class="card" style="background-color: rgb(248 250 252);"
                                            *ngFor="let depo; of: car().controls; let i = index" [formGroupName]="i">
                                            <div class="grid formgrid">

                                                <div class="field col-3">

                                                    <div class="pl-4"> {{i + 1}} {{this.newcar.value.name}} </div>
                                                </div>

                                                <div class="flex align-items-center col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-trash"
                                                        class="p-button-danger mt-2 w-4"></button>
                                                </div>

                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </form>
    </div>

</div>
<div class="flex justify-end mt-4">
    <button class="px-6 ml-3" mat-flat-button (click)="onCancelClick()">
        <div class="font-light">
            ยกเลิก
        </div>
    </button>
    <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSaveClick()">
        <div class="font-light">
            บันทึก
        </div>
    </button>

</div>