<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-3 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-2xl md:text-2xl tracking-tight leading-7 sm:leading-10 truncate">
                    ประวัติภาพรวมงาน
                </h2>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="relative overflow-x-auto shadow-md sm:  rounded-lg m-5  bg-white">
        <div class="flex flex-row justify-between py-2 px-5">
            <div class="flex justify-start items-center w-[405px] mt-5">
                <div class="flex text-md font-normal tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                    <form [formGroup]="addForm">
                        <mat-form-field class="w-[405px]">
                            <mat-icon svgIcon="heroicons_outline:magnifying-glass" class="search-icon"></mat-icon>
                            <input matInput [formControlName]="'filter'" (ngModelChange)="HandlerPage(this.addForm.value.filter)" placeholder="ค้นหาทะเบียนรถ" class="custom-placeholder">
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="flex">
                <div class="flex text-md font-normal tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                    <button class="flex flex-row text-gray-500 px-3 border-2 border-gray-300 rounded-xl items-center" (click)="exportFile()">
                        <mat-icon class="icon-size-6 text-gray-500"
                            svgIcon="heroicons_outline:document-arrow-down"></mat-icon>
                        &nbsp;
                        &nbsp;
                        <span>Export Excel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:  rounded-lg m-5  bg-white">
        <div class="flex flex-row justify-between py-2 px-5">
            <div class="flex justify-start items-center w-150 mt-5" *ngIf="this.car">
                <div class="flex text-md font-normal tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                    <div class="flex p-4 ">
                        <img class="h-15 w-auto" [src]="this.car?.image" alt="image" style="object-fit: contain;">
                    </div>
                    <div class="p-2 flex-grow">
                        <div class="whitespace-nowrap"><strong>{{this.car?.license ??
                                '-'}}</strong><br>{{this.car?.brand_model?.name ?? '-'}}</div>
                    </div>
                </div>
                <div class="border-l h-24 mx-4"></div>
                <div class="flex text-md font-normal tracking-tight leading-7 sm:leading-10 truncate justify-center items-center">
                    <div class="flex p-4 ">
                        <img class="h-15 w-15 border-2 border-gray-500 rounded-full" src="{{this.car?.pictureUrl ?? 'assets/images/no_image.jpg'}}" alt="image" style="object-fit: contain;">
                    </div>
                    <div class="p-2 flex-grow">
                        <div class="whitespace-nowrap"><strong>{{this.car?.client?.name ??
                                '-'}}</strong><br>{{this.car?.client?.company ?? '-'}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-auto sm:overflow-y-auto p-5">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full bg-white whitespace-nowrap">
                <thead>
                    <tr>
                        <th class="font-light">วันเวลาที่เข้ารับบริการ</th>
                        <th class="font-light">วันเวลาที่เสร็จสิ้นเข้ารับบริการ</th>
                        <th class="font-light">ไมล์</th>
                        <th class="font-light">กิจกรรม</th>
                        <th class="font-light ">ศูนย์บริการ</th>
                        <th class="font-light ">พนักงานที่บริการ</th>
                        <th class="font-light ">สถานะ</th>
                        
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0">
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" *ngFor="let item of dataRow; let i = index;">
                        <td class="px-6 py-4">
                            <div class="flex flex-col ">
                                <div class="text-base font-semibold">{{ (item.book_date | date: 'dd/MM/yyyy') ?? ''}}
                                </div>
                                <div class="font-normal text-gray-500"> {{ item.book_time?.slice(0,5) ?? '00:00' }}
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex flex-col ">
                                <div class="text-base font-semibold">{{ (item.updated_at | date: 'dd/MM/yyyy') ?? ''}}
                                </div>
                                <div class="font-normal text-gray-500"> {{ (item.updated_at | date: 'HH:mm' )?? '00:00' }}
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex flex-col ">
                                <div class="text-base font-semibold">{{ (item.mile | number) ?? '0'}} km.</div>
                                <!-- <div class="text-base font-semibold">{{ (item.mile | number) ?? '0'}} km.</div> -->
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex flex-col ">
                                <div class="text-base font-semibold">{{ item.service ?? '-'}}</div>
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex flex-col ">
                                <div class="text-base font-semibold">{{ item.service_center ?? '-'}}</div>
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex flex-col ">
                                <div class="text-base font-semibold">{{ item.user?.fname ?? ''}} {{ item.user?.lname ?? '' }} ({{ item.user?.department?.name ?? '' }})</div>
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex flex-col ">
                                <div class="text-base font-semibold" >
                                    {{item.booking?.status | ChangeStatus}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <!-- <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="7" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody> -->
            </table>
            <!-- <div class="relative overflow-x-auto sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead
                        class="text-lg text-gray-700 font-normal uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                วันเวลา
                            </th>
                            <th scope="col" class="px-6 py-3">
                                ไมล์
                            </th>
                            <th scope="col" class="px-6 py-3">
                                กิจกรรม
                            </th>
                            <th scope="col" class="px-6 py-3">
                                ศูนย์บริการ
                            </th>
                            <th scope="col" class="px-6 py-3">
                                พนักงานที่บริการ
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                            *ngFor="let item of tableRow; let i = index;">
                            <td class="px-6 py-4">
                                <div class="flex flex-col ">
                                    <div class="text-base font-semibold">{{ item.created_at | date: 'dd/MM/yyyy'}}</div>
                                    <div class="font-normal text-gray-500"> {{ item.created_at | date: 'HH:mm'}}</div>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex flex-col ">
                                    <div class="text-base font-semibold">{{ item.mile | number}} km.</div>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex flex-col ">
                                    <div class="text-base font-semibold">{{ item.activity}}</div>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex flex-col ">
                                    <div class="text-base font-semibold">{{ item.service }}</div>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex flex-col ">
                                    <div class="text-base font-semibold">{{ item.create_by }}</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
    </div>
</div>