<div class="flex flex-col" style="max-height: 90vh;">
    <form [formGroup]="form">
        <div class="flex flex-col overflow-y-auto p-6">
            <div class="flex flex-row justify-between items-center">

                <div class="flex flex-row items-center">
                    <div class="text-3xl font-bold mr-5">สร้าง Ticket</div>
                    <!-- <div class="text-base">(ID: 2221)</div> -->
                </div>
                <div class="flex flex-row items-center justify-center">
                    <button mat-icon-button [tabIndex]="-1" (click)="onClose()">
                        <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                    </button>
                </div>
            </div>

            <div class="flex flex-col">
                <!-- <mat-form-field class="flex-auto w-full">
                    <mat-label class="font-bold">ข้อมูลรถ</mat-label>
                    <mat-select formControlName="car_id" (selectionChange)="onChangeClient($event)">
                        <mat-option value="">เลือกรถ</mat-option>
                        <mat-option value="{{item.car_id}}"
                            *ngFor="let item of productData; let i = index">{{item.car.license}}</mat-option>
                    </mat-select>
                </mat-form-field> -->
                <mat-form-field class="flex-auto w-full">
                    <mat-label class="font-bold">ข้อมูลรถ</mat-label>
                    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onChangeClient($event)"
                       >
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.license_plate}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="flex flex-col">
                <mat-label class="font-bold">ข้อมูลลูกค้า</mat-label>
                <div class="flex flex-row">
                    <div class="flex p-4">
                        <img class="h-15 w-15 rounded-full"
                            src="{{this.form.value.image ?? 'assets/images/no_image.jpg'}}" alt="image description">
                    </div>
                    <div class="flex p-4 mt-2">
                        <div>
                            <span class="text-lg font-bold">{{this.form.value.name ?? ''}}</span>
                            <br>
                            <span class="text-md font-light text-slate-400">{{this.form.value?.company ?? ''}}</span>
                        </div>
                    </div>
                </div>
                <!-- <mat-form-field class="flex-auto">
                    <input matInput [placeholder]="'เบอร์โทรศัพท์ติดต่อ'" formControlName="phone">
                </mat-form-field> -->
            </div>
            <div class="flex flex-col">
                <mat-label class="font-bold">รายละเอียด</mat-label>
                <div class="inline-flex items-center" *ngFor="let item of topics;">
                    <label class="relative flex items-center p-3 rounded-full cursor-pointer" htmlFor="ripple-on"
                        data-ripple-dark="true">
                        <input id="ripple-on" type="checkbox" (change)="addFeature(item)" [checked]="isChecked(item)"
                            class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-10" />
                        <span
                            class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20"
                                fill="currentColor" stroke="currentColor" stroke-width="1">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </label>
                    <label class="mt-px font-light text-gray-700 cursor-pointer select-none" htmlFor="ripple-on">
                        {{item}}
                    </label>
                </div>
            </div>
            <ng-container *ngFor="let item of this.form.value.ticket_topics">
                <div class="flex flex-col mt-2">
                    <div class="flex flex-col" *ngIf="item.topic === 'อื่นๆ'">
                        <mat-label class="font-bold">Notes</mat-label>
                        <mat-form-field>
                            <textarea matInput [placeholder]="'หมายเหตุเพิ่มเติม (ถ้ามี)'" [rows]="3"
                                formControlName="note"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
            <button class="px-6 ml-3 rounded-md mt-5" mat-flat-button [color]="'primary'"
                (click)="onSaveClick()">บันทึก</button>
        </div>
    </form>

</div>