<div class="flex flex-col" style="max-height: 90vh;">
    <div class="flex flex-col overflow-y-auto p-6">
        <div class="flex flex-row justify-between items-center">

            <div class="flex flex-row items-center">
                <div class="text-3xl font-bold mr-5">สร้าง Ticket</div>
                <!-- <div class="text-base">(ID: 2221)</div> -->
            </div>
            <div class="flex flex-row items-center justify-center">
                <button mat-icon-button [tabIndex]="-1" (click)="onClose()">
                    <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </button>
            </div>
        </div>

        <div class="flex flex-col">
            <mat-label class="font-bold">ข้อมูลรถ</mat-label>
            <mat-form-field class="flex-auto">
                <input matInput [placeholder]="'ทะเบียนรถ'">
            </mat-form-field>
        </div>

        <div class="flex flex-col">
            <mat-label class="font-bold">ข้อมูลลูกค้า</mat-label>
            <div class="flex flex-row mb-5 mt-2">
                <div class="flex w-10 h-10 mr-5">
                    <img class="rounded-full" src="assets/images/avatars/female-18.jpg" alt="">
                </div>
                <div class="flex flex-col">
                    <h2 class="font-normal">ธัชพล มหาสาร</h2>
                    <h2 class="font-light">บริษัทเมืองไทยประกันภัย</h2>
                </div>
            </div>

            <mat-form-field class="flex-auto">
                <input matInput [placeholder]="'เบอร์โทรศัพท์ติดต่อ'">
            </mat-form-field>
        </div>
        <div class="flex flex-col">
            <mat-label class="font-bold">รายละเอียด</mat-label>
            <div class="inline-flex items-center" *ngFor="let item of [1,2,3,4,5];">
                <label class="relative flex items-center p-3 rounded-full cursor-pointer" htmlFor="ripple-on"
                    data-ripple-dark="true">
                    <input id="ripple-on" type="checkbox" 
                        class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-10" />
                    <span
                        class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20"
                            fill="currentColor" stroke="currentColor" stroke-width="1">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </label>
                <label class="mt-px font-light text-gray-700 cursor-pointer select-none" htmlFor="ripple-on">
                    Ripple Effect On
                </label>
            </div>
        </div>
        <div class="flex flex-col mt-2">
            <mat-label class="font-bold">Notes</mat-label>
            <mat-form-field>
                <textarea matInput [placeholder]="'หมายเหตุเพิ่มเติม (ถ้ามี)'" [rows]="3"></textarea>
            </mat-form-field>
        </div>
        
        <button class="px-6 ml-3 rounded-md mt-5" mat-flat-button [color]="'primary'">บันทึก</button>
    </div>
</div>