<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-light tracking-tight leading-7 sm:leading-10 truncate">
                    พนักงาน
                </h2>
                <div class="flex">
                    <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate" style="border: 1px solid #ccc; padding: 1px; border-radius: 20px;">
                        <button class="px-6 ml-3 rounded-full" mat-flat-button [color]="'white'" (click)="addElement()">
                            <mat-icon>description</mat-icon>
                            &nbsp;
                            อัปโหลด CSV
                        </button>
                    </div>
            
                    <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate ml-3">
                        <button class="px-6" mat-flat-button [color]="'primary'" (click)="addElement()">
                            <mat-icon>add_circle_outline</mat-icon>
                            &nbsp;
                            เพิ่มศูนย์บริการ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-10  bg-white">
        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full bg-white whitespace-nowrap">
                <thead>
                    <tr>
                        <th> </th>
                        <th>ชื่อ</th>
                        <th>ตำแหน่ง</th>
                        <th>แผนก</th>
                        <th>เข้าใช้งานล่าสุด</th>
                        <th class="w-[100px]"> </th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow && dataRow.length > 0">
                    <tr>
                        <td style="text-align: center;">
                            <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: inline-block; position: relative;">
                                <img src="assets/images/avatars/brian-hughes.jpg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        </td>
                        <td>Maria Roselia</td>
                        <td>Staff</td>
                        <td>Corporate</td>
                        <td>วันนี้ 10:00</td>
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(dataRow[0].id)">
                                <mat-icon>border_color</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: inline-block; position: relative;">
                                <img src="assets/images/avatars/female-01.jpg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        </td>
                        <td>Jetrin Wattana</td>
                        <td>Staff</td>
                        <td>Enterprise</td>
                        <td>14/2/2023 (6 เดือนที่แล้ว)</td>
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(dataRow[0].id)">
                                <mat-icon>border_color</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: inline-block; position: relative;">
                                <img src="assets/images/avatars/female-01.jpg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        </td>
                        <td>Pitcha Rusk</td>
                        <td>Staff</td>
                        <td>Enterprise</td>
                        <td>14/2/2023 (6 เดือนที่แล้ว)</td>
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(dataRow[0].id)">
                                <mat-icon>border_color</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: inline-block; position: relative;">
                                <img src="assets/images/avatars/female-01.jpg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        </td>
                        <td>Alin Care</td>
                        <td>Staff</td>
                        <td>Enterprise</td>
                        <td>14/2/2023 (6 เดือนที่แล้ว)</td>
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(dataRow[0].id)">
                                <mat-icon>border_color</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: inline-block; position: relative;">
                                <img src="assets/images/avatars/female-01.jpg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        </td>
                        <td>Jetrin Wattana</td>
                        <td>Staff</td>
                        <td>Enterprise</td>
                        <td>14/2/2023 (6 เดือนที่แล้ว)</td>
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(dataRow[0].id)">
                                <mat-icon>border_color</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: inline-block; position: relative;">
                                <img src="assets/images/avatars/female-01.jpg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        </td>
                        <td>Pitcha Rusk</td>
                        <td>Staff</td>
                        <td>Enterprise</td>
                        <td>14/2/2023 (6 เดือนที่แล้ว)</td>
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(dataRow[0].id)">
                                <mat-icon>border_color</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: inline-block; position: relative;">
                                <img src="assets/images/avatars/female-01.jpg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        </td>
                        <td>Alin Care</td>
                        <td>Staff</td>
                        <td>Enterprise</td>
                        <td>14/2/2023 (6 เดือนที่แล้ว)</td>
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(dataRow[0].id)">
                                <mat-icon>border_color</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="7" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>