<div class="flex flex-col" style="max-height: 90vh;">
    <div class="flex flex-col overflow-y-auto p-6">
        <div class="flex flex-row justify-between items-center">

            <div class="flex flex-row items-center">
                <div class="text-3xl font-bold mr-5">รายละเอียด</div>
                <div class="text-base">(ID: {{this.data.code}})</div>
            </div>
            <div class="flex flex-row items-center justify-center">
                <mat-form-field class="min-w-56 mt-4">
                    <mat-select (selectionChange)="changeStatus($event)" [formControl]="statusData">
                        <mat-option class="border-b-2">เลือกสถานะ</mat-option>
                        <mat-option value="New">งานใหม่</mat-option>
                        <mat-option value="Process">กำลังดำเนินงาน</mat-option>
                        <mat-option value="Finish">เสร็จสิ้น</mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp; &nbsp;
                <button mat-icon-button [tabIndex]="-1" (click)="onClose()">
                    <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </button>
            </div>
        </div>

        <div class="flex flex-col">
            <mat-label class="font-bold">ข้อมูลรถ</mat-label>
            <div class="flex flex-row mb-5 mt-2">
                <div class="flex w-auto mr-5">
                    <img class="h-15 w-auto" src="{{this.data.car.image ?? 'assets/images/no_image.jpg'}}" alt="image description">
                </div>
                <div class="flex flex-col">
                    <h2><b>{{this.data.car.license}}</b></h2>
                    <span class="text-md font-light text-gray-400">{{this.data.car.brand_model.name}}</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            <mat-label class="font-bold">ข้อมูลลูกค้า</mat-label>
            <div class="flex flex-row mb-5 mt-2">
                <div class="flex w-10 h-10 mr-5">
                    <img class="rounded-full" src="assets/images/avatars/female-18.jpg" alt="">
                </div>
                <div class="flex flex-col">
                    <h2 class="font-normal">{{this.data.client?.profile?.name}}</h2>
                    <h2 class="font-light">{{this.data.client?.profile?.company}}</h2>
                </div>
            </div>

        </div>
        <form [formGroup]="form">

            <mat-form-field class="flex-auto" appearance="outline" class="w-full">
                <mat-label>เบอร์โทรศัพท์ติดต่อ</mat-label>
                <input matInput [placeholder]="'เบอร์โทรศัพท์ติดต่อ'" class="w-full" formControlName="phone" [value]="this.data.phone">
            </mat-form-field>

        </form>
        <div class="flex flex-col" *ngIf="!this.data">
            <mat-label class="font-bold">รายละเอียด</mat-label>
            <div class="inline-flex items-center" *ngFor="let item of topics;">
                <label class="relative flex items-center p-3 rounded-full cursor-pointer" htmlFor="ripple-on" data-ripple-dark="true" [ngModel]="isChecked(item)" (ngModelChange)="toggleCheckbox(item)">
                    <input id="ripple-on" type="checkbox"
                        class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-10" />
                    <span
                        class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20"
                            fill="currentColor" stroke="currentColor" stroke-width="1">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </label>
                <label class="mt-px font-light text-gray-700 cursor-pointer select-none" htmlFor="ripple-on">
                    {{item}}
                </label>
            </div>
        </div>
        <div class="flex flex-col mb-6" *ngIf="this.data">
            <mat-label class="font-bold">รายละเอียดแจ้งซ่อม</mat-label>
            <!-- main.component.html -->
            <app-checkbox-topic [items]="this.topics" [dataArray]="this.dataArray" (dataArrayChange)="handleDataArrayChange($event)"></app-checkbox-topic>

            <!-- <app-checkbox-service [items]="yourArray" [dataArray]="yourDataArray"></app-checkbox-service> -->
        </div>
        <div class="flex flex-col mt-2">
            <div class="flex flex-col">
                <form [formGroup]="form">
                    <mat-label class="font-bold">Notes</mat-label>
                    <br>
                    <mat-form-field class="w-full">
                        <textarea class="w-full" matInput [placeholder]="'หมายเหตุเพิ่มเติม (ถ้ามี)'" [rows]="3" formControlName="note"></textarea>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="flex flex-row justify-between mb-6">
                <mat-label class="font-bold">Activity</mat-label>
                <div class="flex flex-row cursor-pointer" (click)="sortBy('created_at')">
                    <img class="w-5 h-5" src="assets/images/sort-ascending.png" alt="">
                    <h1 class="text-red-500">
                        เรียงจากหน้าใหม่ไปเก่า</h1>
                </div>
            </div>
            <ol>
                <ng-container *ngFor="let item of activities">
                    <li class="flex flex-row min-h-20">
                        <div class="flex flex-col items-center">
                            <div class="flex w-10 h-10 mr">
                                <img class="rounded-full" [src]="item?.user?.image" alt="">
                            </div>
                            <div class="w-0.5 h-full bg-[#EAECF0]"></div>
                        </div>
                        <div class="flex flex-col ml-5 mb-10">
                            <h2><b>{{item?.user?.fname ?? 'admin'}}</b> {{getDaysAgo(item.created_at)}}</h2>
                            <h2 [innerHTML]="item.status ?? 'เพิ่มรายการใหม่'"></h2>
                            <!-- <h2 class="text-[#667085]">{{item.status ?? 'เพิ่มรายการใหม่'}}</h2> -->
                        </div>
                    </li>
                </ng-container>
            </ol>
        </div>
        <button class="px-6 rounded-md mt-5" mat-flat-button [color]="'primary'" (click)="onSaveClick()">บันทึก</button>
    </div>
</div>